[Desktop Entry]
Encoding=UTF-8
Name=Link to Replace ssh with Qnapware OpenSSH - QNAPedia
Type=Link
URL=http://wiki.qnap.com/wiki/Replace_ssh_with_Qnapware_OpenSSH
Icon=text-html
